<head>
    <link rel="stylesheet" href="../public/profile.css" />
</head>
<header>
    <div id="header_left">
        <a href=""><img class="logo" src="../public/assets/spiced.png" /></a>
    </div>
    <div id="header_right">
        <a class="ce" href="">Language</a>
        <img class="hamburgermenu" src="../public/assets/menu.svg" />
    </div>
</header>
{{#if error}}
    <p id="err">Oups, something went wrong. Please try again!</p>
{{/if}}
<form method="post">
    <div class="profile">
        <p id="edit">Edit your profile</p>
        <input
            type="text"
            name="first"
            value="{{profile.first}}"
            pattern=".{3,}"
            required="required"
            title="3 characters minimum"
        />
        <input
            type="text"
            name="last"
            value="{{profile.last}}"
            pattern=".{3,}"
            required="required"
            title="3 characters minimum"
        />
        <input
            type="email"
            name="email"
            value="{{profile.email}}"
            pattern=".{7,}"
            required="required"
            title="7 characters minimum"
        />
        {{#if nichtgueltigEmail}}
            <p class="er">no valid email</p>
        {{/if}}
        <input
            type="password"
            name="password"
            value=""
            placeholder="Enter a new password"
        />
        <input
            type="text"
            name="age"
            value="{{profile.age}}"
            placeholder="Age"
        />
        {{#if nichtgueltigNaN}}
            <p class="er">no valid age</p>
        {{/if}}

        <input
            type="text"
            name="city"
            value="{{profile.city}}"
            placeholder="City"
        />
        <input
            type="url"
            name="url"
            value="{{profile.url}}"
            placeholder="Homepage"
        />
        {{#if nichtgueltigUrl}}
            <p class="er">no valid homepage</p>
        {{/if}}
        <div class="bt">
            <button type="submit" id="submit" name="update">Update</button>
            <button type="submit" id="submit" name="back">Back</button>
        </div>
    </div>
    <div id="overlay">
        <nav id="menu">
            <button class="btnX">X</button>
            <div class="navi">
                <a href="/thanks">Homepage</a>
                <a href="/petition/delete/signature">Delete your signature</a>
                <a href="/petition/delete/account">Delete your account</a>
                <a href="/petition/logout">Log out</a>
            </div>
        </nav>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../public/canvas.js"></script>
<script src="../public/menu.js"></script>